body {
  background-color: #e7e7de;
}

h1 {
  color: #008891
}

h3 {
  color: #66bfbf
}

hr {
  border-style: none;
  border-bottom-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
